html,body
{
    width: 100%;
	height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	background-color: #f3f3f3;
	font-family: 'Quicksand', sans-serif;
}

body {
	display: block;
}



header {
	background-color: #ffffff;
	margin: 0;
	height: 90px;
}

p {
	font-family: 'Quicksand', sans-serif;
	margin-top: 0;
}

p2 {
	font-family: 'Quicksand', sans-serif;
	margin-top: 0;
	padding-left: 8%;
}


p3 {
	font-family: 'Quicksand', sans-serif;
	margin-top: 0;
}

h6 {
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	padding-top: 10px;
	padding-right: 15px;
	font-size:  10pt;
}

.wrapper {

	 display: block;
	 margin: 0 auto;
	 width: 80%;
	 overflow: visible;
 }


.wrapper2 {
	display: block;
	margin: 0 auto;
	width: 100%;
	overflow: visible;
	height: auto;
}

.bannercontainer {
	max-height: 691px;
	clear: both;
	margin: 0;
}

#home-search {
	margin: 1% auto;
	width: 50%;
}

#home-search input {
	border: none;
	background-color: white;
	line-height: 2em;
	box-sizing: content-box;
	margin: 0.7%;
}

.search-button {
	background-color: #1e1a31!important;
	color: white;
	width: 8%;
	padding-right: 1%;
	padding-left: 1%;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
 }

.search-bar {
	width: 82%;
	font-size: 1em;
}

@media screen and (max-width: 500px) {

	
	.wrapper {
		width: 95%;
	}
	
	.contact-form-wrap {
	width: 90%!important;
	}
	
	.selected-event-img-wrap, .selected-event-head, .selected-event-wrap {
	width: 100%!important;
	padding: 0!important;
	margin: 0!important;
	
	}
	
	.selected-event-img{
		margin-bottom: 2%;
	}
	
	h1 {
		font-size: 1.4em!important;
	}
	
	h2 {
		font-size: 1.2em!important;
	}
	
	footer h1{
		font-size: 0.7em!important;
	}
	
	.larger {
		font-size: 0.9em!important;
	}
	
	
	.logo {
		margin-left: 3%;
	}

	aside {
		display: none;
	}
		
	#page-content {
		width: 100%!important;
		float: none;
	}
	
	.events-img-wrap, .upcoming-events-box-text {
	width: 100%!important;
	}
	
	.event-date {
	text-align: left!important;
	margin: 0!important;
	font-size: 0.8em!important;
}
	
	.search-button {
	background-color: #1e1a31!important;
	color: white;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	}
}

.aboutcontainer {
	max-height: 691px;
	overflow: auto;
}

.banner {
	width: 100%;
	margin: 0;
	vertical-align: bottom;
	display: block;
}

nav {
	text-align: right;
	height: 30px;
	margin: 0;
	float: right;
}

nav ul {
	margin: 0;
	background-color: white;
}

nav ul li {
	list-style-type: none;
	display: inline;
	background-color: white;
}

nav a {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	padding: 15px;
}

nav a:hover {
	color: brown;
}

ul.topnav li.icon {display: none;}


.logo {
	display: block;
    height: 40px;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

#container {
	position: relative;
	margin: 0;
	min-height: 100%;

}

#test {
	dispaly: none;
}


.logo2 {display: none}

#main-content {
	padding-bottom: 193px;
}

footer {
	clear: both;
	background-color: #2b263d;
	background-image: url("images/footerbg.png");
	max-height: 691px;
	height: 193px;
	overflow: hidden;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}


.footer-row {
	width: 32%;
	margin-bottom: 3%;
	padding: 0;
	display: inline-block;
}

footer a {
	font-family: 'Quicksand', sans-serif;
	color: #ffffff;
}

footer a:hover {
	color: grey;
}

footer h1{
	color: #ffffff;
	opacity: 0.4;
	font-size: 0.8em;
	text-align: left;
	font-weight: bold;
}

footer p {
	font-size: 1em;
	padding-right: 1%;
	font-family: 'Quicksand', sans-serif;
	color: #ffffff;
	color: white;
	text-align: left;
	opacity: 0.4;
}

.social-icon {
	width: auto;
	height: 70px;
 }
 
 @media screen and (max-width: 700px) {

	.social-icon {
	width: auto;
	height: 30px;
	}
	
	.hide-footer {
		display: none!important;
	}
	
	#main-content {
		padding-bottom: 75px;
	}
	
	footer {
		width: 100%!important;
		height: 75px!important;
		text-align: center!important;
		margin: 0 auto!important;
	}
	
	 #social {
	 width: 100%!important;
	 text-align: center!important;
	 }
	 
	 footer p {
		 text-align: center!important;
	 }
	
	
 }
 
 
 #social {
	 width: 40%;
	 text-align: right;
	 opacity: 0.4;
 }

.social-icon:hover {
	opacity: 0.8;
}

.clear {
	clear: both;
}

.clear-right {
	clear: right;
}

.column {
	width: 20%;
	float: left;
}

.columnright {
	float: right;
}

h1 {
	color: #1c130e;
	font-size: 2.5em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;

}

h12 {
	color: #1c130e;
	font-size: 2.5em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	text-align: left;

}

.title {
	color: #ffffff;
	font-size: 1.3em;
	text-align: center;
	font-family: Quicksand;
}

.center {
	text-align: center;
}

h2 {
	color: #1c130e;
	font-size: 1.6em;
	letter-spacing: 0.2em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 0;
}

h3 {
	color: #1c130e;
	margin: 0.5em;
	font-size: 1.6em;
	letter-spacing: 0.2em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 10 px;
	margin-top: 0;
}

aside h3 {
	font-size: 1.2em;
}

.top {
	margin-top: 0;
}

h4 {
	color: #1c130e;
	letter-spacing: 0.2em;
	margin: 0.5em;
	font-size: 1.4em;
font-family: 'Montserrat', sans-serif;
	text-align: center;
	text-transform: uppercase;
}

h5 {
	color: #ffffff;
	margin: 0;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}



a {
	color: #1c130e;
	text-decoration: none;
}

ul {
	font-family: verdana, sans-serif;
}


/* forms */
input {
	padding: 1%;
}

input.textbox {
	width: 65%;
	float: left;
}

label.formfield {
	width: 35%;
	float: left;
}
fieldset {
	width: 55%;
	margin: 1% auto;
}

legend {
	font-family: verdana, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	padding: 1%;
}

textarea {
	width: 40%;
	min-height: 50px;
	margin: 1%;
	padding: 1%;
	min-height: 200px;
}

.sidesearch input {
	width: 100%;
	height: 40px;
	margin-bottom: 3px;
}

.sidesearch select {
	width: 100%;
	height: 40px;
	margin-bottom: 3px;
}

/* box for homepage */
.infobox {
	width: 49%;
	padding-right: 1%;
	float: left;
}


/* event box */
.eventbox {
	width: 32%;
	margin-bottom: 3%;
	background-color: #ffffff;
	padding: 0;
	display: inline-block;
	position: relative;
}

.date{
	color: grey;
	font-size: 0.8em!important;
}

.price {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #ffffff;
	opacity: 0.8;
	font-weight: none;
}

.price p {
	margin: 0;
	padding: 2px;
}

.eventbox h1 {
	font-size: 1em;
	text-align: left;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
}

.eventbox img {
	width: 100%;
	display: block;
	margin: 0;
}

.eventbox:hover {
-moz-box-shadow: 0 0 12px #a1a1a1; -webkit-box-shadow: 0 0 12px #a1a1a1; box-shadow: 0 0 12px #a1a1a1;

}

.text-padding{    /*for padding around event text*/
	padding: 2%;
}

.margin-top-zero{  /*gets rid of ugly space under the event image and h1*/
	margin-top: 0;
}

.margin-top-two{
	margin-top: 2%;
}

.margin-bottom-two{
	margin-bottom: 2%;
}

.margin-bottom-zero{  /*gets rid of ugly space under the event image and h1*/
	margin-bottom: 0;
}

.Site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.Site-content {
	flex: 1;
}



@media screen and (max-width: 700px) {
	.eventbox {
		width: 46%!important;
	}
	
	.how-it-works, .contact-us {
		width: 100%!important;
	}
	
	#home-search {
	width: 80%!important;
	margin-top: 3%!important;
	}
}
	
@media screen and (max-width: 500px) {

	.eventbox {
		width: 100%!important;
	}
}

/* grid structure */

.grid {   /* makes it so boxes are equal distance apart */
	display: flex;
    justify-content: space-between;
	flex-flow: row wrap;
}

.footer-grid {   /* makes it so boxes are equal distance apart */
	display: flex;
    justify-content: space-between;
	flex-flow: row wrap;
}

/* different backgrounds & light text */
.dark-bg {
	background-color: #222222;
	overflow: auto;
}
	

.dark-bg h1 {
	color: #ffffff;
	opacity: 0.9;
}

.dark-bg p {
	color: #ffffff;
	opacity: 0.9;
	padding: 3%;
}

.light-bg {
	background-color: light grey;
	overflow: auto;
	margin: 2%;
}

.tyne-bg {
	background-color: light grey;
	opacity: 0.9;
	overflow: auto;
}

.tyne-bg img {
	width: 100%;
	max-height: 691px;
}

/* how it works and about us boxes */
.how-it-works, .contact-us {
	width: 32%;
	margin-bottom: 3%;
	padding: 0;
	display: inline-block;
}

.left-50 {
	float: left;
	width: 49%;
}

.right-50{
	float: right;
	width: 49%;
}

.events-title{
	width: 75%;
	float: left;
}

.icon {
	margin: 0;
	text-align: center;
	color: #ffffff;
	}

.how-it-works h1, .contact-us h1 {
	font-size: 2em;
	text-transform: none;
	color: #ffffff;
	margin: 0;
}

.how-it-works p, .contact-us p {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	color: #ffffff;
}

#login{
	width: 100%;
	background-color: #1c130e;
	color: white;
	font-family: 'Work Sans', sans-serif;
	text-align: right;
	line-height: 25px;
	padding: 3px;
	height: auto;
}

#login input {
	padding: 0.5%;
	height: 25px;
	background-color: white;
	padding: 1px 3px 1px 3px;
	border: 0px;
	color: black;
}

#login .button {
	background-color: white;
	font-family: 'Work Sans', sans-serif;	
	text-align: center;
	color: black;
	margin-right: 1%;
	height: 27px;
	border: 0px;
	text-transform: uppercase;
}

#login a {
	color: white;
	padding: 0.5%;
}

#login a:hover {
	color: grey;
}

.marginBottom {
margin-bottom: 2%;
}

/* table styling */

table {
    width: 100%;
	font-family: 'Quicksand', sans-serif;
}

th {
    height: 2em;
	font-size: 1.2em;
	padding: 1%;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

td {
	padding: 1%;
	border-bottom: 1px solid #ddd;
}

tr:hover{
	color: brown;
}

tr:hover a{   /*makes it so links change color on hover too*/
	color: brown;
}

.upcoming-events-box { 
	width: 100%;
	background-color: white;
	margin-bottom: 3%;
	position: relative;
}

.upcoming-events-box h1{
	font-size: 1em;
	color: black;
	text-align: left;
	font-weight: bold;
	margin: 0;
}

.upcoming-events-box img{
	width: 100%;
	margin-bottom: 5px;
}

.events-img-wrap {
	width: 33%;
	float: left;
	margin-right: 1%;

}

.upcoming-events-box-text {
	float: left;
	width: 64%;
}

.location, .event-date {
	font-weight: bold;
}

.event-date {
	text-align: center;
}

.tickets-left {
	position: absolute;
	clear: both;
	margin-top: 1%;
	margin-right: 1%;
	top: 0;
	right: 0;
}

.sold-out {
	clear: both;
	position: absolute;
	top: 0;
	left: 0;
	padding: 1%;
	height: auto;
	width: 30%;
	max-height: 100px;
	max-width: 100px;
	width: auto;
}

.edit-links {
	position: absolute;
	clear: both;
	bottom: 0;
	right: 0;
	padding-right: 10px;
}

aside {
	width: 30%;
	float: left;
}

.edit-links .material-icons:hover {
color: brown;
}

#page-content {
	width: 65%;
	float: right;
}

/* makes it so all form fields are the same width */
input, select {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.event-link {
	color: #1c130e;
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
}

.event-link:hover{
	color: brown;
}

.event-link2{
	 color: #1c130e;
	 font-size: 1.2em;
	 font-family: 'Montserrat', sans-serif;
	 margin-left: 0;
 }

.event-link2:hover{
	color: brown;
}

.event-link3 {
	color: #1c130e;
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
}

.event-link3:hover{
	color: brown;
}

.padding-1{
	padding: 1%;
}

.selected-event h1  {
	letter-spacing: 0;
	font-size: 1.4em;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-align: left;
	text-transform: none;
	margin-bottom: 10px;
	margin-top: 0;
}

.selected-event h2 {
	font-size: 1em;
	font-weight: bold;
	text-transform: none;
	letter-spacing: 0;
}

.selected-event-wrap {
	width: 100%;
	height: 100%;
	background-color: white;
	overflow: auto;
	margin: 0;
}

.selected-event-head {
	width: 36%;
	float: left;
	margin: 1%;
}

.selected-event-head p {
}

.selected-event-img-wrap {
	width: 62%;
	float: left;
	margin: 0;
}

.mobile-info {
	float: right;
	margin: 0;
	font-weight: bold;
}

.selected-event img {
	width: 100%;
}


.attended-event {
	width: 60%;
	margin-top: 2%;
}

.attended-event input, textarea, submit {
		box-sizing: content-box;
		margin: 0;
}



/* feedback box */

.feed-scroll {
	max-height: 210px;
	overflow-y: scroll;
}

.feedback {
	width: 100%;
	color: black;
	position: relative;
	padding-left: 2%;
	padding-right: 2%;
	overflow-x: hidden;
	box-sizing: border-box;
}

.feedback-name {
	margin: 0;
}

.rating {
	margin-top: 0;
}

.feedback h1 {
	font-size: 1em;
	font-weight: bold;
	text-align: left;
	margin: 0;
}

.event-form input, textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	width: 100%;
}

.event-form textarea {
	margin: 0;
	min-height: 200px;
}

.form-padding {
	margin-bottom: 6px;
}

.event-form {
	font-family: 'Quicksand', sans-serif;
}

.larger {
	font-size: 1.2em;
}

.contact-form textarea {
	margin: 0
}

.contact-form-wrap {
	width: 60%;
	margin: 0 auto;
}

.contact-form input {
	width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.contact-button {
	width: 5%;
	box-sizing: content-box;
}

#box {
	width: 40%;
	height: auto;
	background-color: #fff;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	margin-bottom: 30px;
}
#eventImg {
	margin-bottom: 10px;
}

.required {
	color: red;
	font-size: 0.8em;
}

.required-msg {
	text-align: right;
}

.alternate {
	letter-spacing: 0;
	font-size: 1.4em;
	font-family: 'Montserrat', sans-serif;
	font-weight: none;
	text-align: left;
	margin-top: 0;
	text-align: center;
	color: white!important;
	margin-top: 2%;
}

.purple-button-side {
	background-color: #1e1a31;
	color: white;
	margin: 0;
	line-height: 2em;
	padding-right: 15px;
	padding-left: 15px;
	letter-spacing: 0;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
}

.right {
	float: right;
}

.left {
	float: left;
}


.purple-button {
	background-color: #1e1a31;
	color: white;
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 1%;
	line-height: 2em;
	padding-right: 15px;
	padding-left: 15px;
	letter-spacing: 0;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1200px) {


	.purple-button {
		display:none;
	}
	
	.tickets-left {
		display: none;
	}
	
	#login {
		display: none;
	}
	
	.hide-pc	{
		display: block!important;
	}
	
	.hide-mobile {
		display: none!important;
	}
}

.purple-button a {
	color: white;
}

.purple-button:hover {
	background-color: #302a4e;
}

	.hide-pc{
		display: none;
	}


#page {
	width: 100%;
	display: block;
}

#content {
	width: 80%;
	display: block;
	height: 500px;
	margin: 0 auto;
	padding: 10%;
}


#content1 {
	width: 80%;
	display: block;
	overflow: hidden ;
	margin: 0 auto;
	padding: 10%;
}
/* MEDIA QUERY FOR NAVIGATION*/

@media all and (max-width: 1200px) {

	nav ul li {
		list-style-type: none;
		background-color: transparent;
		display: block;
		width: 100%;
		position: inherit;
	}

	.wrapper2 {
		display: block;
		margin: 0 auto;
		width: 100%;
		overflow: visible;
		height: auto;
		background-color: white;

	}

	header {
		background-color:white;
		height: auto;
		width: 100%;
		overflow: hidden;
	}

	nav ul {
		margin: 0;
		padding: 10px;
		height: auto;
		background-color: white;
		position: relative;
	}


	.logo {
		display: none;
	}

	#test {
		height: auto;
		background-color: white;
		padding: 2px;
		padding-top: 10px;
	}

	.logo2 {
		display: block;
		height: 30px;
		width: auto;
		margin: 0 auto;
	}

	.nav-mob{
		display: inline-block;
	}

	nav {
		background-color: transparent;
	}

	#mytopnav {
		display: none;
	}



	ul.topnav li:not(:first-child) {display: none; }
	#mobileonly {
		display: inline-block;
		text-align: right;
	}
	ul.topnav li.icon {
		float: right;
		display: inline;
	}
	ul.topnav.responsive {position: relative;}
	ul.topnav.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.topnav.responsive #mobileonly{
		display: none;
	}
	ul.topnav.responsive li {
		float: none;
		display: inline;

	}
	ul.topnav.responsive li a {
		display: block;
		text-align: center;
		background-color: transparent;
		margin: 0;


	}
}

/* accordion */
button.accordion {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding-bottom: 18px;
	padding-top: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
	font-family: 'Montserrat', sans-serif;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    background-color: #fafafa;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.login-mobile {
	width: 80%;
	margin: 0 auto;
}

.login-mobile input {
		width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	]