html,body
{
    width: 100%;
	height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	background-color: #f3f3f3;
}

header {
	background-color: #ffffff;
	margin: 0;
}

p {
	font-family: 'Quicksand', sans-serif;
	margin-top: 0;
}

.wrapper {
	margin: 0 auto;
	width: 80%;
}

.bannercontainer {
	max-height: 691px;
	overflow: hidden;
	clear: both;
	margin: 0;
}

.aboutcontainer {
	max-height: 691px;
	overflow: auto;
}

.banner {
	width: 100%;
	margin: 0;
	vertical-align: bottom;
	display: block;
}

nav {
	text-align: right;
	padding-top: 22px;
	height: 30px;
	margin: 0;
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline;
}

@media screen and (max-width: 600px) { /* makes it so navigation turns horizontal for mobile */
nav {
	height: 100%;
	width: 100%;
	text-align: center;
}

nav ul li {
	list-style-type: none;
	display: block;
	padding: 0.5em;
}
}

nav a {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	padding: 15px;
	line-height: 30px;
}

nav a:hover {
	color: brown;
}


.logo {
    height: 53px;
}


footer {
	clear: both;
	background-color: #2b263d;
	background-image: url("images/footerbg.png");
	max-height: 691px;
	overflow: hidden;
	margin: 0;
}

.footer-row {
	width: 23%;
	padding: 2% 1%;
}

footer a {
	font-family: 'Quicksand', sans-serif;
	color: #ffffff;
	opacity: 0.4;
}

footer a:hover {
	color: grey;
}

footer h1{
	color: #ffffff;
	opacity: 0.4;
	font-size: 0.8em;
	text-align: left;
	font-weight: bold;
}

footer p {
	font-size: 1em;
	padding-right: 1%;
	font-family: 'Quicksand', sans-serif;
	color: #ffffff;
	text-align: right;
	opacity: 0.4;
}

.clear {
	clear: both;
}

.column {
	width: 20%;
	float: left;
}

.columnright {
	float: right;
}

h1 {
	color: #1c130e;
	font-size: 2.5em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;

}

.center {
	text-align: center;
}

h2 {
	color: #1c130e;
	font-size: 1.6em;
	letter-spacing: 0.2em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 0;
}

h3 {
	color: #1c130e;
	margin: 0.5em;
	font-size: 1.6em;
	letter-spacing: 0.2em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 10 px;
	margin-top: 0;
}

aside h3 {
	font-size: 1.2em;
}

.top {
	margin-top: 0;
}

h4 {
	color: #1c130e;
	letter-spacing: 0.2em;
	margin: 0.5em;
	font-size: 1.4em;
font-family: 'Montserrat', sans-serif;
	text-align: center;
	text-transform: uppercase;
}

h5 {
	color: #ffffff;
	margin: 0;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}



a {
	color: #1c130e;
	text-decoration: none;
}

ul {
	font-family: verdana, sans-serif;
}


/* forms */
input {
	padding: 1%;
}

input.textbox {
	width: 65%;
	float: left;
}

label.formfield {
	width: 35%;
	float: left;
}
fieldset {
	width: 55%;
	margin: 1% auto;
}

legend {
	font-family: verdana, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	padding: 1%;
}

textarea {
	width: 40%;
	min-height: 50px;
	margin: 1%;
	padding: 1%;
}

.sidesearch input {
	width: 100%;
	height: 40px;
	margin-bottom: 3px;
}

.sidesearch select {
	width: 100%;
	height: 40px;
	margin-bottom: 3px;
}

/* box for homepage */
.infobox {
	width: 49%;
	padding-right: 1%;
	float: left;
}


/* event box */
.eventbox {
	width: 32%;
	margin-bottom: 3%;
	background-color: #ffffff;
	padding: 0;
	display: inline-block;
	position: relative;
}

.date{
	color: grey;
	font-size: 0.8em!important;
}

.price {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #ffffff;
	opacity: 0.8;
	font-weight: none;
}

.price p {
	margin: 0;
	padding: 2px;
}

.eventbox h1 {
	font-size: 1em;
	text-align: left;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
}

.eventbox img {
	width: 100%;
	display: block;
	margin: 0;
}

.text-padding{    /*for padding around event text*/
	padding: 2%;
}

.margin-top-zero{  /*gets rid of ugly space under the event image and h1*/
	margin-top: 0;
}

.margin-top-two{
	margin-top: 2%;
}

.margin-bottom-two{
	margin-bottom: 2%;
}

.margin-bottom-zero{  /*gets rid of ugly space under the event image and h1*/
	margin-bottom: 0;
}

@media screen and (max-width: 700px) {
	.eventbox {
		width: 46%;
	}
}
	
@media screen and (max-width: 400px) {
	
	.eventbox {
		width: 100%;
		display: block;
	}
}

/* grid structure */

.grid {   /* makes it so boxes are equal distance apart */
	display: flex;
    justify-content: space-between;
	flex-flow: row wrap;
}

/* different backgrounds & light text */
.dark-bg {
	background-color: #2f2f2f;
	overflow: auto;
}
	

.dark-bg h1 {
	color: #ffffff;
	opacity: 0.9;
}

.dark-bg p {
	color: #ffffff;
	opacity: 0.9;
	padding: 3%;
}

.light-bg {
	background-color: light grey;
	overflow: auto;
	margin: 2%;
}

.tyne-bg {
	background-color: light grey;
	opacity: 0.9;
	overflow: auto;
}

.tyne-bg img {
	width: 100%;
	max-height: 691px;
}

/* how it works and about us boxes */
.how-it-works {
	width: 32%;
	margin-bottom: 3%;
	padding: 0;
	display: inline-block;
}

.icon {
	margin: 0;
	text-align: center;
	color: #ffffff;
	}

.how-it-works h1 {
	font-size: 2em;
	text-transform: none;
	color: #ffffff;
	margin: 0;
}

.how-it-works p {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	color: #ffffff;
}

#login{
	width: 100%;
	background-color: #2f2f2f;
	color: white;
	font-family: 'Work Sans', sans-serif;
	text-align: right;
	height: 30px;
	line-height: 30px;
	padding: 3px;
}

#login input {
	padding: 0.5%;
	height: 25px;
	background-color: white;
	padding: 1px 3px 1px 3px;
	border: 0px;
	color: black;
}

#login .button {
	background-color: white;
	font-family: 'Work Sans', sans-serif;	
	text-align: center;
	color: black;
	margin-right: 1%;
	height: 27px;
	border: 0px;
	text-transform: uppercase;
}

#login a {
	color: white;
	padding: 0.5%;
}

#login a:hover {
	color: grey;
}

.marginBottom {
margin-bottom: 2%;
}

/* table styling */

table {
    width: 100%;
	font-family: arial;
}

th {
    height: 2em;
	font-size: 1.2em;
	padding: 1%;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

td {
	padding: 1%;
	border-bottom: 1px solid #ddd;
}

tr:hover{
	color: brown;
}

tr:hover a{   /*makes it so links change color on hover too*/
	color: brown;
}

.upcoming-events-box {
	width: 100%;
	background-color: white;
	padding: 1%;
	margin-bottom: 1%;
	position: relative;
}

.upcoming-events-box h1{
	font-size: 1em;
	color: black;
	text-align: left;
	font-weight: bold;
	margin: 0;
}

.upcoming-events-box img {
	width: 200px;
	float: left;
	margin-right: 1%;

}

.upcoming-events-box-text {
    margin: auto;
	float: left;
}

.edit-links {
	position: absolute;
	bottom: 0;
	right: 0;
}

aside {
	width: 30%;
	float: left;
}

.edit-links .material-icons:hover {
color: brown;
}

#page-content {
	width: 65%;
	float: right;
}

/* makes it so all form fields are the same width */
input, select {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.event-link {
	color: #1c130e;
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
}

.event-link:hover{
	color: brown;
}

.selected-event h1 {
	letter-spacing: 0;
	font-size: 1.4em;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-align: left;
	text-transform: none;
	margin-bottom: 10px;
	margin-top: 0;
}

.selected-event h2 {
	font-size: 1em;
	font-weight: bold;
	text-transform: none;
	letter-spacing: 0;
}

.selected-event-wrap {
	width: 100%;
	height: 100%;
	background-color: white;
	overflow: auto;
	margin: 0;
}

.selected-event-head {
	width: 36%;
	float: right;
	padding: 2%;
}

.selected-event-head p {
}

.selected-event-img-wrap {
	width: 60%;
	float: left;
	margin: 0;
}

.selected-event img {
	width: 100%;
}

/* feedback box */
.feedback {
	width: 100%;
	background-color: white;
	color: black;
}

.feedback h1 {
	font-size: 1em;
	font-weight: bold;
	text-align: left;
}
